@media (max-width:425px)  {
     /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
      #card{
         display: flex;
         flex-direction: column;
         
      }
      #website{
         display: flex;
         flex-direction: column;
         height: 2000px; 
         justify-content: space-between;
      }

     #card_testi_section{
      display: flex;
      flex-direction: column;
     }

    }

    @media (max-width:800px)  {
    
    /* smartphones, Android phones, landscape iPhone */

}


   