
/*universal css styling*/
*{
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    margin:0px 25px 0px 25px;  
    list-style: none;
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
    
}

body{
    background: rgb(247, 247, 247)
}
#container{
    background: #f7f7f7;
    width: 100%;
    max-width: 1440px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    color:rgb(3, 3, 3);
}

/*======================Header*==============================*/
.color{
    background: rgb(247, 247, 247)
}
header{
    padding:0 100px;
    width:100%;
    height: 80px;
    top: 0;
    left: 0;
    align-items:center;
}
header .navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.nav-brand{
    font-weight: 700px;
    cursor: pointer;
}

.humburger{
    font-size: 24px;
    line-height: 80px;
    display: none;
    cursor: pointer;   
}
/* =======================close button===============================*/
.close{
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 2em;
    font-weight:bold;
    cursor: pointer;
    display: none;
}
.nav-menu{
    display: flex;
}
.nav-link{
    line-height: 80px;
    
    font-weight: 500px;
   
}
.nav-link:hover{
    color:#27a6fb;
}
.active:hover,.active{
    color:white;
}

header{ 
    width:100%;
    height: 80px;
}
.nav-brand{
    font-size: 2em;
    font-weight: 700px;
    text-transform: uppercase;
    cursor: pointer;
}
.humburger{
    font-size: 24px;
    line-height: 80px;
    display: none;
    cursor: pointer;
    padding:5px;
}
.close{
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 2em;
    font-weight:bold;
    cursor: pointer;
    display: none;
}
.nav-menu{
    display: flex;
}
.nav-menu li{
    padding-left: 15px;
}
#rejy{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.contact_me{
    margin: 20px;
    border-radius: 17px;
    padding: 10px;
    background-color: rgb(0, 71, 138) ;
    color: white;

}

/* =====================================header==================================*/

/* =====================================Section about==================================*/
#section_1{
    display: flex;
    padding: 0 100px;
    padding-top:40px ;
    align-items: center;
   
}
#about_rejy{
    width: 50%;
    min-width:300px;
    align-items: center;
    display: flex;

}
#section_img{
    width: 50%;
    min-width: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
}
#hey p{
    padding: 0px;
    margin: 0px;
    font-size: 25px;

   
}
#moi p{
    font-size: 35px;
    margin: 0;
    padding: 0;  
}

#about{
    padding: 0px;
    margin: 0px;
    font-size: 25px;
}
#bouton_about {
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

#bouton_about a{
    
    border-radius: 5px;
    background-color: rgb(0, 71, 138) ;
    color: white;
    padding: 20px;
    text-decoration: none;
    width: 110px;
    
}

#Rejy_Joseph_Roc{
    color: rgb(0, 71, 138);
    font-size: 40px;
}
#imgr{
    width: 100%;
}

/* =====================================Section about==================================*/

/* =====================================Section skills==================================*/
#section_skills{
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    padding-top: 40px;
    margin-top: 35px;
}
#skills h5{
    font-size: 25px;
}
#skills h3{
    font-size: 40px;
}

#card{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
    
}
.w1{
    display: flex;
}

.row{
    background-color: rgb(178, 208, 248);
    border-radius: 30px;
    margin: 0 10px;
    padding: 40px;
    
}

#img_ski{
    width: 20px;
    height: 20px;
}

.row h3{
    font-size: 28px;
    margin-left: 10px;
}
.row p{
    margin-top: 20px;
    font-size: 20px;
}
/* =====================================Section skills==================================*/

/* =====================================Section Project==================================*/
#section_portfolio{
    padding: 0 100px;
    padding-top: 30px;
    margin-top: 30px;
    padding-bottom: 40px;
}
#website{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.img_work{
    width: 200px;
}
#skills{
    padding-bottom: 20px;
}
.to{
    width: 300px;
    height: 500px;
    margin: 0 5px;
    padding: 0 5px;
    align-items: center;
    background-color:rgba(12, 129, 231, 0.103) ;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    
}
.tom{
    display: block;
    padding-left: 10px;

}
.p_button{
    margin-top: 20px;
}
.buti{
    margin-top: 30px;
    
}
.boutton_view{
    border-radius: 10px;
    background-color: rgb(0, 71, 138) ;
    color: white;
    padding: 10px;
    width: 120px;
    text-decoration: none;
    box-shadow: 5px 2.5px 2.5px rgb(48, 66, 82);
    bottom: 50px;
    
}
/* =====================================Section Project==================================*/

/* =====================================Section Testimonial==================================*/
.card_testimonials{
    width: 300px;
    border: solid;
    height: 270px;
    padding: 20px;
    font-size: 15px;
    text-align: center;
    margin:0 5px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    
    border: 1px solid rgba(24, 24, 24, 0.3);
}
#testimonials{
    width: 100%;
    height: 100%;
    background-color: rgb(224, 237, 255);
    display: flex;
    flex-direction: column;
    padding: 20px ;
    
    padding: 80px 100px;

}
#card_testi_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.p_testi{
    font-size: 15px;
}
/* =====================================Section Testimonial==================================*/

/* =====================================Section Contact me ==================================*/
#contact{
    width: 100%;
    padding: 80px 100px;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    grid-template-rows: 0.5 2.5;
    grid-template-areas: 
        "nav nav"
        "content1 content2"
    ;
    
}
#sec-img-roc{
    grid-area: content1;
}
#social{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 grid-area: content2;
}
#img-roc{
   height: 500px;  
}

.img-socio{
    width: 40px;
}

.head:nth-child(1){
    grid-column:1/ span 2;
}
.head{
    align-items: center;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom:40px ;
    
}
.head h1{
    font-size: 40px;
    font-weight:bold; 
    grid-area: nav;
    
}

.card-socio{
    display: flex;
    width: 250px;
    padding: 20px;

}
.card-social{
    display: flex;
    align-items: center;
}
/* =====================================Section Contact me ==================================*/
